@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

.center-box {
  display: flex;
  justify-content: center;
}

.get-started-btn {
  font-size: 1.5rem;
}

.card-list {
  gap: 0.5rem;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  padding: 0.5rem;

  width: 18rem;
  aspect-ratio: 4 / 3;

  display: flex;
  flex-direction: column;
}

.card > h2 {
  margin: 0;
}

.card > img {
  border-radius: 0.5rem;
}

body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  margin: 0;
}

body > div {
  flex: 1;
  padding: 0.5rem;
}

h1, h2, h3 {
  padding-left: 0.25rem;
}

pre > code {
  background-color: rgba(0,0,0,0.75);
  color: white;
  padding: 1rem;
  border-radius: 0.5rem;
  display: block;
  font-family: 'Source Code Pro', monospace;
  overflow: auto;
}

footer {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

button {
  background-color: dodgerblue;
  color: white;
  padding: 0.25em;
  border: none;
  border-radius: 0.25em;

  transition: filter 0.05s;
}

button:hover {
  filter: brightness(0.95);
}

button:active {
  filter: brightness(0.9);
}

table {
  border: 1px solid lightgray;
}

table th, table td {
  padding: 0.25rem;
}

table th:nth-child(2), table td:nth-child(2) {
  border-left: 1px solid lightgray;
}